/* FONT FAMILY */
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* UTILITIES STYLE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #EC7A00;
    --secondary-color: #ffffff;
    --text-color: #0E0F10;
    --title-color: #141414;
    --caption-color: #979797;
    --card-color: #F5F5F5;
}

.btn-primary{  
    background-color: var(--primary-color);
    border: none; 
}

.btn-primary:hover{  
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color); 
}

.btn-primary-outline{
    background-color: transparent;
    border: 2px var(--primary-color) solid;
}

.btn-secondary{
    background: var(--secondary-color);
    border: none;
}

.btn-secondary:hover{
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.btn-secondary-outline{
    background: transparent;
    border: 2px var(--secondary-color) solid;
}

.btn-secondary-outline:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
}

.primary-color{
    color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color) !important;
}

.secondary-color{
    color:var(--secondary-color) !important;
}

.demo-img{
    border-radius: 4px;
    width: 380px;
    height: 280px;
}

.caption{
    color: var(--caption-color);
    font-size: 1.2rem;
}

.checker{
    border: 2px var(--primary-color) solid;
}

.hr-dark{
    margin: auto;
    width: 12rem;
    height: 0.4rem;
    background: var(--text-color);
}

.hr-primary{
    margin: auto;
    width: 12rem;
    height: 0.4rem;
    background: var(--primary-color);
}

.hr-primary-left{
    width: 12rem;
    height: 0.4rem;
    background: var(--primary-color);
}
.hr-dark-left{
    width: 12rem;
    height: 0.4rem;
    background: var(--text-color);
}

.feature-img{
    max-width: 6rem;
}

.title{
    margin-top: 1rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--title-color);
    text-transform: uppercase;
}

.py-1{padding-top: 1rem;}
.py-2{padding-top: 2rem;}
.py-3{padding-top: 3rem;}
.py-4{padding-top: 4rem;}
.py-5{padding-top: 5rem;}
.py-6{padding-top: 6rem;}


/* DESKTOP ONLY STYLE COMPONENTS  */
@media (min-width: 578px){
    .mobile{
        display: none;
    }
}

/* ELEMENT STYLE */
html,body{
    font-family: "Nunito Sans", "Proxima Nova", sans-serif;
}

header{
    background: url("../img/Rectangle\ 6.png") no-repeat center center/cover;
    max-height: 100vh;
}

a{
    color: var(--secondary-color) !important;
    text-decoration: none !important;
}

main{
    background: var(--text-color);
    padding-top: 6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    margin: auto;
}

li{
    list-style: none;
}

h1{
    text-align: center;
    line-height: 4rem;
}


/* HEADER STYLE */
.bk-1{
    position: absolute;
    width: 100vw;
    height: 92.5vh;
    background: url('../img/Group\ 33.png') no-repeat center center/cover;
    z-index: 1;
}

nav{
    z-index: 5;
}

.navbar{
    padding-top: 2rem;
}

.navbar-brand{
    color: var(--secondary-color);
}

.navbar-brand .brand-color{
    color: var(--primary-color);
}

.navbar-brand .logo{
    text-transform: uppercase;
    color: var(--secondary-color);
    font-family: "Nunito Sans";
}

.nav-item{
    padding: 0 1rem;
}

.nav-item .nav-link:hover{
    color: var(--primary-color) !important;
}

.nav-item .current{
    color: var(--primary-color) !important;
}

.nav-item i{
    padding-left: 0.5rem;
}

.dropdown-menu a{
    color: var(--text-color) !important;
}

.hero{
    text-align: center;
}

.hero h1{
    font-family: "Proxima Nova Bold";
    font-size: 72px;
    margin-top: 6rem;
}

.hero button{
    padding: 1rem 2rem !important;
    font-size: 1.25rem !important;
    margin-top: 1rem !important;
    margin-bottom: 13rem !important;
}


/* MAIN SECTION */

/* LATEST DEMO STYLE  */
main .row h1{
    text-align: center;
}

.new-demo .section a{
    transition: 2s ease background-color;
}

.new-demo .section a::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.71);
}

.demo-section{
   display: flex;
   justify-content: space-around;
}

.demo-section .new-tag{
    margin-right: 2rem;
    position: relative;
}

.demo-section .new-tag p{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    float: right;
    font-size: 0.75rem;
    border-radius: 20px;
    z-index: 5;
}

.new-demo .demo-section .demo-img{
    margin-top: -2rem;
    /* z-index: -2; */
}
.new-demo .section p{
    margin: 1rem;
}

/* COLLECTION STYLE  */
.collection{
    padding: 5rem 0;
    text-align: center;
}

.collection h1{
    padding-top: 0.75rem;
}

.categories-img {
    margin: auto;
    padding: 2rem 0;
}

.category-header{
    margin: auto;
    text-align: center;
}

.category-header ul li a{
    color: var(--caption-color) !important;
}

.category-header ul li a:hover{
    color: var(--primary-color) !important;
}

.category-header ul li a.current{
    color: var(--primary-color) !important;
}


/* TEMPLATE SECTION STYLE */
.template-feature{
    padding: 5rem 0px;
}

.template-feature .key-feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.template-pages{
    text-align: center;
}
.template-pages .btn{
    width: 10rem;
    height: 3.6rem;
}

/* ABOUT SECTION STYLE */
.about{
    background: url("../img/Rectangle\ 21.png") no-repeat center center/cover,
    url("../img/Rectangle\ 21-1.png") no-repeat center center/cover;
    padding-bottom: 6rem;
}

.about .right-side {
    padding-top: 10rem;
    overflow: hidden;
    margin-left: 5rem;
}

.right-side .row{
    display: flex;
    align-items: center;
}

.right-side .row h1{
    color: var(--text-color) !important;
    text-align: left !important;
}

.right-side .row p{
    color: var(--text-color) !important;
    text-align: left !important;
    font-size: 1.15rem;
}

.right-side .row img{
    padding-right: -5rem;
    overflow: hidden;
}

.about .left-side {
    padding-top: 10rem;
    overflow: hidden;
    margin-right: 5rem;
}

.left-side .row{
    display: flex;
    align-items: center;
}

.left-side .row .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right !important;
}

.left-side .row h1{
    color: var(--text-color) !important;
    text-align: right !important;
}

.left-side .row p{
    color: var(--text-color) !important;
    text-align: right !important;
    font-size: 1.15rem;
}

.left-side .row img{
    padding-left: -5rem;
    overflow: hidden;
}

.about .about-img{
    max-width: 100%;
}

/* CUSTOMER SECTION  */
#customer-section{
    background: var(--text-color);
    padding: 6rem 0;
}

#customer-section img{
    width: 100%;
    margin: 4rem 0;
}

#customer-section .testimonial{
    margin-top: 4rem;
}

#customer-section .card{
    background: var(--card-color);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#customer-section .testimonial .card img{
    max-width: 6rem;
    margin: 0;
}

#customer-section .testimonial .card p{
    padding: 2rem 0;
}

#contact .contact-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem 0;
}

#contact .contact-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* FOOTER STYLE  */
footer{
    background: url("../img/Rectangle\ 23.png");
    padding: 6rem 0;
}
footer .row{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}


/* MOBILE STLYE  */
@media (max-width: 576px){
    header{
        position: relative;
        overflow: hidden;
    }
    .bk-1{
        position: absolute;
        padding-top: 20rem;
        padding-left: 13rem;
        padding-right: 15rem;
        margin-top: 490px;
        width: 65px;
        height: 100px;
        background: url('../img/Component\ 1.png') no-repeat center center/cover;
        z-index: 1;
    }

    .navbar-collapse{
        background: var(--secondary-color) !important;
        padding: 2rem 1rem;
    }
    
    .nav-item a{
        padding: 2rem 0;
        color: var(--text-color) !important;
    }

    .btn{
        height: 53px !important;
        width: 150px !important;
    }

    header{
        background: url("../img/Rectangle\ 6.png") no-repeat center center/cover;
        height: 100vh;
    }

    .nav-link--button{
        display: none;
    }
    .navbar-toggler {
        /* padding: 0.25rem 0.75rem;
        font-size: 1.25rem; */
        line-height: 1;
        color: var(--secondary-color);
        background-color: transparent;
        border: none;
        border-radius: 0.25rem;
    }
    button .fa-bars.fa-2x{
        color: var(--secondary-color);
    }
    .hero{
        position: relative;
        text-align: center;
        z-index: 5 !important;
    }
    
    .hero h1{
        font-family: "Proxima Nova Bold";
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 8rem;
    }
    
    .hero button{
        width: 200px !important;
        padding: 0.75rem 0.5rem !important;
        font-size: 1rem !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    /* MAIN SECTION STYLE  */
    main{
        background: var(--text-color);
        padding-top: 4rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 5rem;
        margin: auto;
        overflow: hidden;
    }

    .caption{
        margin: 0.7rem;
        text-align: center;
    }
    
    h1{
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
        padding-top: 0.3rem;
    }

    hr{
        width: 47px !important;  
    }
    .hr-dark{
        margin: auto;
        height: 0.2rem;
        background: var(--text-color);
    }
    
    .hr-primary{
        margin: auto;
        height: 0.2rem;
        background: var(--primary-color);
    }
    
    .hr-primary-left{
        margin: auto;
        height: 0.2rem;
        background: var(--primary-color);
    }
    .hr-dark-left{
        margin: auto;
        height: 0.2rem;
        background: var(--text-color);
    }
    
    .demo-img{
        border-radius: 4px;
        width: 282px;
        height: 208px;
    }
    main .row h1{
        display: none;
    }
    .demo-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .new-demo .demo-section .demo-img{
        margin-top: -2rem;
    }
    .new-demo .section .caption{
        margin: 1rem;
        color: transparent;
    }

    .template-feature{
        padding: 5rem 2rem;
    }


    
    .about .right-side {
        padding-top: 5rem;
        overflow: hidden;
        margin: 0 3rem !important;
    }
    
    .right-side .row .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: auto;
    }
    
    .right-side .row h1{
        color: var(--text-color) !important;
        text-align: center !important;
    }
    
    .right-side .row p{
        color: var(--text-color) !important;
        text-align: center !important;
        font-size: 1.15rem;
    }
    
    .right-side .row img{
        padding-right: 0rem !important;
        overflow: hidden;
    }

    .about .left-side {
        padding-top: 10rem;
        overflow: hidden;
        margin: 0 3rem !important;
    }
    
    .left-side .row{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .left-side .row .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: auto;
    }
    
    .left-side .row h1{
        color: var(--text-color) !important;
        text-align: center !important;
    }
    
    .left-side .row p{
        color: var(--text-color) !important;
        text-align: center !important;
        font-size: 1.15rem;
    }
    
    .left-side .row img{
        padding-left: 0rem !important;
        overflow: hidden;
    }

    .about .about-img{
        max-width: 100%;
        margin-top: 2rem;
    }

    #contact{
        margin-top: 2rem;
    }

    #contact .contact-us{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0rem 1.5rem;
    }

    #contact .contact-us h3{
        font-size: 36px;
    }

    #contact .contact-us p{
        font-size: 18px;
        line-height: 26px;
    }

    #contact .contact-us img{
        display: none;
    }

    footer h1{
        font-size: 2.2rem;
        line-height: 3.6rem;
    }
}